form.signup,
form.login {
  margin-top: 50px;
}

.navbar{
  background-color: #80ced6;

}

body {
  background-color: #fefbd8;
  color: #618685;
}
.time-block {
  padding-bottom: 5px;
}

.jumbotron {
  background-color: #d5f4e6;
  color: #618685;
}

.submit {
  background-color: #618685;
  color: #d5f4e6;
}

.logout {
  float: right;
}

/* Using Box-Shadows.css */
.bShadow-8,
.bShadow-8h:hover {
  box-shadow: 0px 0px 1px 10px rgba(68, 175, 225, 0.56);
}
